﻿
@{
    ViewBag.Title = "AdminPage";
}

<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<li>@Html.ActionLink("UserRoles", "Index", "AspNetRoles")</li>
<li>@Html.ActionLink("Users", "Index", "AspNetUsers")</li>    


