﻿@{
    ViewBag.Title = "Kontakt oplysninger";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    Rasmus Friis<br />
    2700, Brønshøj DK<br />
    <abbr title="Phone">Telefon:</abbr>
    31-152585
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Friis1978@hotmail.com">Friis1978@hotmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Friis1978@hotmail.com">Friis1978@hotmail.com</a>
</address>