﻿@model PagedList.IPagedList<TestWebsite.Models.AspNetUsers>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Users";
}

<h2>Users</h2>

<br />

@using (Html.BeginForm("Index", "AspNetUsers", FormMethod.Get))
{
    @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @class = "form-control" })
    <br />
    <button type="submit" style="margin:2px; " class="btn btn-primary"><span style="font-size:large;">Search</span></button>
    <button type="button" style="margin:2px; " class="btn btn-info" onclick="@Url.Action("Create", "AspNetUsers")' ;return false;"><span style="font-size:large;">Add New User</span></button>

    /*
    <div class="row">
        <div class="col-xs-12">

            <button type="button" style="margin:3px; width:32.8%" class="btn btn-success col-lg-3 col-xs-3" onclick="location.href='@Url.Action("Create", "Movie")';return false;"><span style="font-size:larger;"><span style="margin-right: 5px" class="glyphicon glyphicon-plus"></span>Add New Movie</span></button>
            <button type="button" style="margin: 3px; width: 32.8%" class=" btn btn-success col-lg-3 col-xs-3" onclick=" location.href='@Url.Action("Create", "Employee")' ;return false;"><span style="font-size:larger;"><span style="margin-right: 5px" class="glyphicon glyphicon-plus"></span>Add New Employee</span></button>
            <button type="button" style="margin: 3px; width: 32.8%" class="btn btn-success col-lg-3 col-xs-3" onclick=" location.href='@Url.Action("Create", "Show")' ;return false;"><span style="font-size:larger;"><span style="margin-right: 5px" class="glyphicon glyphicon-plus"></span>Add New Showing</span></button>

        </div>
    </div>

    */
}

<br />

<table class="table">
    <tr>
        <th>
            Id
        </th>
        <th>
            @Html.ActionLink("Username", "Index", new { sortOrder = ViewBag.UserNameSortParm, currentFilter = ViewBag.CurrentFilter, pageSize = ViewBag.CurrentPageSize})
        </th>
        <th>
            @Html.ActionLink("Email", "Index", new { sortOrder = ViewBag.EmailSortParm, currentFilter = ViewBag.CurrentFilter, pageSize = ViewBag.CurrentPageSize })
        </th>
        <th>
            Email Confirm
        </th>
        <th>
            Access Failed
        </th>
        <th>
            LO EndDate
        </th>
        <th>
            LO Enabled
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmailConfirmed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AccessFailedCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LockoutEndDateUtc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LockoutEnabled)
            </td>

            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>

@using (Html.BeginForm("Index", "AspNetUsers", FormMethod.Get))
{
    <p>
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of
        /@Model.PageCount - Rows pr page: @Html.DropDownList("PageSize",@ViewBag.PageSize as SelectList, new { id = "changePageSize" })
    </p>
}

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter, pageSize = ViewBag.CurrentPageSize }))

@section scripts
{
    <script type="text/javascript">
        $(function () {
            $('#changePageSize').on('change', function () {
                              
                var pageSize = $(this).val();
                //alert('Pagesize changed to '+pageSize);
                var sortOrder = '@ViewBag.CurrentSort';               
                var currentFilter = '@ViewBag.CurrentFilter';
                window.location = "Index?"
                    + "sortOrder=" + sortOrder
                    + "&pageSize=" + pageSize
                    + "&currentFilter=" + currentFilter;
            });
        })
       
    </script>
}