﻿@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Fejl";
}

<h1 class="text-danger">Error.</h1>
@{
    if (String.IsNullOrEmpty(ViewBag.errorMessage))
    {
        <h2 class="text-danger">Fejl i forespørgsel, ErrorMessage blev ikke fundet.</h2>
    }
    else
    {
        <h2 class="text-danger">@ViewBag.errorMessage</h2>
    }
}

