﻿@model TestWebsite.Models.sp_Observation_By_User_Id_Result

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>
    <h3>Are you sure you want to delete this?</h3>
    <div>
        <h4>sp_Observation_By_User_Id_Result</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Observationsnote)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Observationsnote)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Artnavn)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Artnavn)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Art_beskrivelse)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Art_beskrivelse)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Familie)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Familie)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Orden)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Orden)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Klasse)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Klasse)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Bynavn)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Bynavn)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Geo_Lokation)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Geo_Lokation)
            </dd>
    
        </dl>
    
        @using (Html.BeginForm()) {
            @Html.AntiForgeryToken()
    
            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "Index")
            </div>
        }
    </div>
</body>
</html>
