﻿@model PagedList.IPagedList<TestWebsite.Models.sp_Observation_By_Search_Params_Result>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Observationer";    
}

<br />
@using (Html.BeginForm("Index", "UserObservations", FormMethod.Get))
{
    @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @class = "form-control" })
    <br />
    <button type="submit" style="margin:2px; " class="btn btn-primary"><span style="font-size:large;">Search</span></button>
    <button type="button" style="margin:2px; " class="btn btn-info" onclick="location.href=@Url.Action("Create", "UserObservations")"><span style="font-size:large;">Tilføj en observation</span></button>
}
<br />

    <table class="table table-striped table-hover table-responsive table-condensed">
        <tr>
            <th>
                <h3 style="font-size:medium">
                    <span style="font-weight:bolder">
                        @Html.ActionLink("Dato", "Index", new { sortOrder = ViewBag.DatoSortParm, currentFilter = ViewBag.CurrentFilter, pageSize = ViewBag.CurrentPageSize })
                    </span>
                </h3>
            </th>
            <th>
                <h3 style="font-size:medium">
                    <span style="font-weight:bolder">
                        @Html.ActionLink("By", "Index", new { sortOrder = ViewBag.BySortParm, currentFilter = ViewBag.CurrentFilter, pageSize = ViewBag.CurrentPageSize })
                    </span>
                </h3>
            </th>
            <th>
                <h3 style="font-size:medium">
                    <span style="font-weight:bolder">
                        @Html.ActionLink("Lokation", "Index", new { sortOrder = ViewBag.LokationSortParm, currentFilter = ViewBag.CurrentFilter, pageSize = ViewBag.CurrentPageSize })
                    </span>
                </h3>
            </th>
            <th>
                <h3 style="font-size:medium">
                    <span style="font-weight:bolder">
                        @Html.ActionLink("Navn", "Index", new { sortOrder = ViewBag.NavnSortParm, currentFilter = ViewBag.CurrentFilter, pageSize = ViewBag.CurrentPageSize })
                    </span>
                </h3>
            </th>                        
            <th>
                <h3 style="font-size:medium">
                    <span style="font-weight:bolder">
                        @Html.ActionLink("Familie", "Index", new { sortOrder = ViewBag.FamilieSortParm, currentFilter = ViewBag.CurrentFilter, pageSize = ViewBag.CurrentPageSize })
                    </span>
                </h3>
            </th>
            <th>
                <h3 style="font-size:medium">
                    <span style="font-weight:bolder">
                        @Html.ActionLink("Orden", "Index", new { sortOrder = ViewBag.OrdenSortParm, currentFilter = ViewBag.CurrentFilter, pageSize = ViewBag.CurrentPageSize })
                    </span>
                </h3>
            </th>
            <th>
                <h3 style="font-size:medium">
                    <span style="font-weight:bolder">
                        @Html.ActionLink("Klasse", "Index", new { sortOrder = ViewBag.KlasseSortParm, currentFilter = ViewBag.CurrentFilter, pageSize = ViewBag.CurrentPageSize })
                    </span>
                </h3>
            </th>


            <th></th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td class="col-lg-1">
                    <span style="font-size: 16px;">@Html.DisplayFor(modelItem => item.ObservationsDag)</span>
                </td>
                <td class="col-lg-2">
                    <span style="font-size: 16px;">@Html.DisplayFor(modelItem => item.Bynavn)</span>
                </td>
                @{
                    string lokation1 = item.GEO;
                    string lokation2 = lokation1.Substring(7);
                    int lenght = lokation2.Length;
                    string item_string = lokation2.Substring(0, lenght - 1);
                    string[] longi_lati = item_string.Split(' ');
                    string new_lokation = longi_lati[0].Substring(0,6)+"," + longi_lati[1].Substring(0,6);                   
                }
                <td class="col-lg-2">
                    <span style="font-size: 16px;">@Html.DisplayFor(modelItem => new_lokation)</span>
                </td>
                <td class="col-lg-2">
                    <span style="font-size: 16px;">@Html.DisplayFor(modelItem => item.Artnavn)</span>
                </td>
                <td class="col-lg-1">
                    <span style="font-size: 16px;">@Html.DisplayFor(modelItem => item.Familie)</span>
                </td>
                <td class="col-lg-1">
                    <span style="font-size: 16px;">@Html.DisplayFor(modelItem => item.Orden)</span>
                </td>
                <td class="col-lg-1">
                    <span style="font-size: 16px;">@Html.DisplayFor(modelItem => item.Klasse)</span>
                </td>
                <td class="col-lg-2">
                    <button type="button" class="btn btn-warning col-md-3" onclick="location.href='@Url.Action("Edit", "UserObservations", new { id = item.Observations_id })';return false;"><span class="glyphicon glyphicon-pencil"></span></button>
                    <button type="button" class="btn btn-info col-md-3 col-md-offset-1" onclick="location.href='@Url.Action("Delete", "UserObservations", new { id = item.Observations_id })' ;return false;"><span class="glyphicon glyphicon-trash"></span></button>
                </td>
            </tr>
        }

    </table>

@using (Html.BeginForm("Index", "UserObservations", FormMethod.Get))
{
    <p>
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of
        /@Model.PageCount - Rows pr page: @Html.DropDownList("PageSize", @ViewBag.PageSize as SelectList, new { id = "changePageSize" })
    </p>
}

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter, pageSize = ViewBag.CurrentPageSize }))

@section scripts
{
    <script type="text/javascript">
        $(function () {
            $('#changePageSize').on('change', function () {

                var pageSize = $(this).val();
                //alert('Pagesize changed to '+pageSize);
                var sortOrder = '@ViewBag.CurrentSort';
                var currentFilter = '@ViewBag.CurrentFilter';
                window.location = "Index?"
                    + "sortOrder=" + sortOrder
                    + "&pageSize=" + pageSize
                    + "&currentFilter=" + currentFilter;
            });
        })

    </script>
}